ul.twocol {
  list-style-position: inside;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

table.projtable {
        table-layout: fixed;
  cellpadding: 10px;
  width: 100%;
}

img.photo {
  vertical-align: middle;
  width: 100%;
}

img.logo {
    vertical-align: middle;
    width: 100%;
}

p.projdesc {
        text-align: justify;
}

p.projtitle{
    font-weight: bold;
    font-size: 18px;
}
